.page {
  min-height: 100vh;
  display: flex;
  padding-top: 25vh;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.header {
  width: 372px;
}

.header_text {
  /* text-align: center; */
  font-size: 22px;
  padding-bottom: 24px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}
.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
