.container {
  display: flex;
  gap: 12px;
  align-items: center;
  /* justify-content: space-between; */
  width: calc(100% - 42px);
}

.button {
  background-color: #ddd;
  padding: 3px 6px;
  border-radius: 6px;
  border: 2px solid black;
}

.win {
  margin-top: 18px;
  text-align: center;
}